<h1>Create a new modification</h1>

<%= form_for @modification do |f| %>
  <%= f.collection_select(:order_id, @orders, :id, :id) %>
  <%= f.label  :note %>
  <%= f.text_field :note %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.submit %>
<% end  %>
