<h1> Menu </h1>

<%= form_tag foods_path, method: :get do %>
    <%= hidden_field_tag :food_type, "appetizer" %>
    <%= submit_tag "Appetizers" %>
<% end %>

<%= form_tag foods_path, method: :get do %>
    <%= hidden_field_tag :food_type, "pasta" %>
    <%= submit_tag "Pastas" %>
<% end %>

<%= form_tag foods_path, method: :get do %>
    <%= hidden_field_tag :food_type, "chicken" %>
    <%= submit_tag "Chicken" %>
<% end %>

<%= form_tag foods_path, method: :get do %>
    <%= hidden_field_tag :food_type, "pizza" %>
    <%= submit_tag "Pizza" %>
<% end %>

<% case @food_type %>
<% when 'appetizer' %>
    <%= render 'appetizer' %>
<% when 'pasta' %> 
    <%= render 'pasta' %>
<% when 'chicken' %>
    <%= render 'chicken' %>
<% when 'pizza' %>
    <%= render 'pizza' %>
<% else %>
    <%= render 'appetizer' %>
    <%= render 'pasta' %>
    <%= render 'chicken' %>
    <%= render 'pizza' %>
<% end %>