<h1>Restaurant Menu</h1>

<% if session[:check_to_edit] %>
    <h2>Editing Check #<%= session[:check_to_edit]['id'] %></h2>
<% end %>


<h3> Filter by Food Type </h3>

<%= form_tag foods_path, method: :get do %>
    <%= hidden_field_tag :food_type, "appetizer" %>
    <%= submit_tag "Appetizers" %>
<% end %>

<%= form_tag foods_path, method: :get do %>
    <%= hidden_field_tag :food_type, "pasta" %>
    <%= submit_tag "Pastas" %>
<% end %>

<%= form_tag foods_path, method: :get do %>
    <%= hidden_field_tag :food_type, "entree" %>
    <%= submit_tag "Entrees" %>
<% end %>

<%= form_tag foods_path, method: :get do %>
    <%= hidden_field_tag :food_type, "pizza" %>
    <%= submit_tag "Pizza" %>
<% end %>

<%= form_tag foods_path, method: :get do %>
    <%= hidden_field_tag :food_type, "dessert" %>
    <%= submit_tag "Desserts" %>
<% end %>

<%= form_tag foods_path, method: :get do %>
    <%= hidden_field_tag :food_type, "all" %>
    <%= submit_tag "All Menu Items" %>
<% end %>

<% if @food_type %>
    <%= form_tag foods_path, method: :get do %>
        <%= submit_tag "Hide Menu" %>
    <% end %> 
<% end %><br>

<a href='/foods/new'><button class="ui button">Add New Menu Item</button></a>
<a href='/'><button class="ui button">Exit Menu</button></a>

<% if @food_type %>
    <h3>Menu Items</h3>
<% end %>

<% case @food_type %>
<% when 'appetizer' %>
    <%= render 'appetizer' %>
<% when 'pasta' %> 
    <%= render 'pasta' %>
<% when 'entree' %>
    <%= render 'entree' %>
<% when 'pizza' %>
    <%= render 'pizza' %>
<% when 'dessert' %>
    <%= render 'dessert' %>
<% when 'all' %>
    <%= render 'appetizer' %>
    <%= render 'pasta' %>
    <%= render 'entree' %>
    <%= render 'pizza' %>
    <%= render 'dessert' %>
<% end %>

<h3>Menu Items Sold</h3>

<table class="ui striped table">
    <thead>
      <tr>
        <th>Food Item</th>
        <th>Food Price</th>
        <th>Order Count</th>
      </tr>
    </thead>
    <tbody>
        <% @foods.sort_by{|f| -f.total_sold}.each do |food| %>
          <tr>
              <td><%= food.name %></td>
              <td><%= number_to_currency(food.price, unit: '$') %></td>
              <td><%= food.total_sold %></td>
          </tr>
      <% end %>
      </tbody>
  </table>