<% if session[:check_to_edit] %>
    <h2>Editing Check #<%= session[:check_to_edit]['id'] %></h2>
<% end %>


<h3> Filter by Food Type </h3>

<%= form_tag add_item_path(@check), method: :get do %>
    <%= hidden_field_tag :food_type, "appetizer" %>
    <%= submit_tag "Appetizers" %>
<% end %>

<%= form_tag add_item_path(@check), method: :get do %>
    <%= hidden_field_tag :food_type, "pasta" %>
    <%= submit_tag "Pastas" %>
<% end %>

<%= form_tag add_item_path(@check), method: :get do %>
    <%= hidden_field_tag :food_type, "entree" %>
    <%= submit_tag "Entrees" %>
<% end %>

<%= form_tag add_item_path(@check), method: :get do %>
    <%= hidden_field_tag :food_type, "pizza" %>
    <%= submit_tag "Pizza" %>
<% end %>

<%= form_tag add_item_path(@check), method: :get do %>
    <%= hidden_field_tag :food_type, "dessert" %>
    <%= submit_tag "Desserts" %>
<% end %>

<%= form_tag add_item_path(@check), method: :get do %>
    <%= submit_tag "All Menu Items" %>
<% end %>
<br>
<a href=<%=check_path(@check)%>><button>Back to Check</button></a>
<br>
<h1>Menu Items</h1>

<%= flash[:food_id] %>

<% case @food_type %>
<% when 'appetizer' %>
    <%= render 'appetizer' %>
<% when 'pasta' %> 
    <%= render 'pasta' %>
<% when 'entree' %>
    <%= render 'entree' %>
<% when 'pizza' %>
    <%= render 'pizza' %>
<% when 'dessert' %>
    <%= render 'dessert' %>
<% else %>
    <%= render 'appetizer' %>
    <%= render 'pasta' %>
    <%= render 'entree' %>
    <%= render 'pizza' %>
    <%= render 'dessert' %>
<% end %>
