<h3>Check <%= "#{@check.id}" %></h3>

<% @check.orders.each do |order| %>
    <%= order.food.name %>............$<%= order.food.price %> - <%= link_to "Modify?", new_order_modification_path(order.id) %> - <%= link_to 'Remove Item',  order,  method: :delete %><br>
    
<% end %>
<br>
<br>
Total............$<%= @check.total %><br><br>

<%= link_to "Add/Change Items", edit_check_path(@check) %><br><br>

<%= link_to "Back to your checks", server_path(@check.server) %>

<% if @check.paid_status != "paid" %>
    <h3><%= link_to "Pay Check", payment_path(@check) %></h3>
<% else %>
    <h3><%= link_to "Refund Check", refund_path(@check) %></h3>
<% end %>