<h3>Check <%= "#{@check.id}" %></h3>

<% @check.orders.each do |order| %>

    <%= order.food.name %>............$<%= order.food.price %> - <%= link_to "Modify?", new_order_modification_path(order.id) %> - <%= link_to 'Remove Item',  order,  method: :delete %><br>
    <% if order.modifications.any? %>
      <ul>
      <% order.modifications.each do |m| %>
        <li><%= m.note %>............$<%= m.price %> - <%= link_to 'Remove Modifier',  order_modification_path(order, m),  method: :delete %></li>
          <% end %>
      </ul>
    <% end %>
<% end %>

<br>
<br>
Total............$<%= @check.total %><br><br><br>

<a href=<%=add_item_path(@check)%>><button>Add/Change Items</button></a><br><br>

<a href=<%=check_path(@check)%>><button>Back to your Checks</button></a>



<% if @check.paid_status != "paid" %>
    <h3><%= link_to "Pay Check", payment_path(@check), data: { confirm: "Charge customer $#{@check.total}?" } %></h3>
<% else %>
    <h3><%= link_to "Refund Check", refund_path(@check), data: { confirm: "Please have a manager confirm the refund before proceeding" } %></h3>
<% end %>