<h3>Check <%= "#{@check.id}" %></h3>

<% @check.orders.each do |order| %>
    <%= order.food.name %>............$<%= order.food.price %> - <%= link_to "Modify?", new_order_modification_path(order) %> - <%= link_to 'Remove Item',  order,  method: :delete %><br>
    
<% end %>
<br>
<br>
Total............$<%= @check.total %><br><br><br>

<a href=<%=add_item_path(@check)%>><button>Add/Change Items</button></a><br><br>

<a href=<%=check_path(@check)%>><button>Back to your Checks</button></a>
