<h3><% if @check.paid_status == "unpaid" %>Ticket <% else %>Check <% end %><%= "#{@check.id}" %></h3>

<table class="ui striped table">
  <thead>
    <tr>
      <th>Food Item</th>
      <th>Food Price</th>
      <th>Modifications</th>
      <th>Modification - Price</th>
    </tr>
  </thead>
  <tbody>
    <% @check.orders.each.each do |order| %>
        <tr>
            <td><p><%= order.food.name %>  -   <%= link_to 'Remove Item',  order,  method: :delete %></p><br></td>
            <td><%=number_to_currency(order.food.price, unit: '$') %></td>
            <td><%= link_to "Add modification", new_order_modification_path(order.id) %><br>
              <ul><% order.modifications.each do |m| %>
              <li><%=m.note.titleize %>  -    <%= link_to 'Remove Modifier',  order_modification_path(order, m),  method: :delete %></li><br>
              <% end %></ul>
            </td>
            <td><% order.modifications.each do |m| %>
              <%=number_to_currency(m.price, unit: '$') %><br>
              <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>


<br>
<br>

Total............<%= number_to_currency(@check.total) %><br>
Tax..............<%= number_to_currency(@check.tax) %><br>

<% if @check.gratuity > 0 %>
  Gratuity.........$<%= number_to_currency(@check.gratuity) %><br>
<% end %>

<%= form_tag add_tip_path do%>
<%= label_tag "Tip............" %>
<%= text_field_tag "check[tip]", number_to_currency(@check.tip) %>
<%= submit_tag "Save Tip" %>
<% end %>

Grand Total......<%= number_to_currency(@check.grand_total) %>


<br><br>

<a href=<%=add_item_path(@check)%>><button class="ui button">Add Items</button></a><br><br>

<a href=<%=server_path(@check.server)%>><button class="ui button" >Back to your Checks</button></a>




<% if @check.paid_status != "Paid" %>
   <h1 align="center"><a href=<%=payment_path(@check)%>><button style="font-size : 25px;">Pay Check</button></a></h1>
    <%# link_to "Pay Check", payment_path(@check) %>
<% else %>
   <h1 align="center"><a href=<%=refund_path(@check)%>><button style="font-size : 25px;">Refund Check</button></a></h1>
    <%# link_to "Refund Check", refund_path(@check) %>
<% end %>
