<h3>Welcome to</h3>
<%= image_tag("android-o-logo.png", class: "logo-image") %>
<h1 style="font-size: 150px;"">ORDERLI</h1>


<h3>Please enter your PIN to log in or click the button to sign up</h3>

<% if @message %>
    <%= @message %><br><br>
<% end %>
    
<%= form_tag controller: 'application', action: 'login' do%>
    <%= label_tag :pin, "Pin Number:" %>
    <%= number_field_tag :pin, maxlength: 4 %>
    <%= submit_tag "Log In" %>
        
<% end %>

<%= link_to "Sign Up", new_server_path %>
  